.leftbox{
    border: solid;
    float: left;
    width: 25%;
    height: 620px;
    position: fixed;
    box-sizing: border-box;
    background-color: wheat;

}

.rightbox{
    border: solid;
    float: right;
    width: 75%;
    height: 620px;
    box-sizing: border-box;
}

.ima{
    width: 100px;
    height: 100px;
    border: transparent;
    border-radius: 50%;
    margin: 48px;
    position: fixed;
}

.head{
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.imahead{
    border: 2px solid darkslategrey;
    margin: 0px 140px;
    width: 300px;
    height: 190px;
}

.menu{
    position: fixed;
    top: 185px;
    left: 67px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.style0
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; text-align: -webkit-center;

}